a:visited {
    color: lightskyblue;
}

body {
    font-family: Sans-serif;
    font-size: larger;
    background-color: #494D5F;
    color: #E5EAF5;
    margin: 10px auto;
    max-width: 800px;
}

#book-cover {
    max-width: 100%;
}
