RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^ %{REQUEST_SCHEME}://%1%{REQUEST_URI} [R=301,QSA,NC,L]
Redirect permanent "/src" "/code"
Redirect permanent "/install" "/code"
Redirect permanent "/translate" "/code"
Redirect permanent "/chat" "/contact"
Redirect permanent "/beta" "/news/2024/02/beta"
Redirect permanent "/donate" "/buy"
