ErrorDocument 404 /404.html

RewriteEngine on

RewriteCond %{REQUEST_SCHEME} ^http$
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301]

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [R=301]

Redirect permanent "/src" "/code"
Redirect permanent "/install" "/code"
Redirect permanent "/translate" "/code"
Redirect permanent "/chat" "/contact"
Redirect permanent "/beta" "/news/2024/02/beta"
Redirect permanent "/donate" "/buy"
Redirect permanent "/theme/media/book-cover.jpg" "/theme/media/book-cover.png"
Redirect permanent "/news/2024/05/ebook-release" "/news/2024/05/ebook"
