__pycache__/
book/Gemfile.lock
book/steadfast.epub
book/steadfast.html
book/steadfast.print.pdf
book/steadfast.screen.pdf
mario/ansible/.first-run-complete
mario/ansible/config
pelican/website/output/
