{% extends "base.html" %}
{% block content %}
{% block content_title %}
<h2>🗞️ News</h2>
{% endblock %}


{% for article in articles_page.object_list %}
    <article>
        <header> <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
        <section>{{ article.summary }}</section>
        <footer>
            <p class="date-published"><time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time></p>
        </footer>
    </article>
    {% if article != articles_page.object_list|last  %}
    <div class="article-separator">☼</div>
    {% endif %}
{% endfor %}

{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}

{% endblock content %}
